<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ee7567b2-014e-4fbb-8f5d-62d6ba46e74d/resourceGroups/ProductivityTrackerApi20241125174443ResourceGroup/providers/Microsoft.Web/sites/ProductivityTrackerApi20241125174443</ResourceId>
    <ResourceGroup>ProductivityTrackerApi20241125174443ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ee7567b2-014e-4fbb-8f5d-62d6ba46e74d/resourceGroups/ProductivityTrackerApi20241125174443ResourceGroup/providers/Microsoft.ApiManagement/service/ProductivityTrackerApiapi/apis/ProductivityTrackerApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productivitytrackerapi20241125174443.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>dbfe6897-8964-4ade-908c-c44ff7e4fbc4</ProjectGuid>
    <MSDeployServiceURL>productivitytrackerapi20241125174443.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProductivityTrackerApi20241125174443</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ProductivityTrackerApi20241125174443</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>